<div>
		<h3>Veiling</h3>
		Het doel van deze veiling site is om geld in te zamelen voor de diaconie.<br />
		Hierbij kunt u helpen door spullen aan te bieden op deze veilingsite, of te bieden op de aangeboden spullen.<br />
		<br />
		De werking is als volgt.<br />

		<ul>
			<li style="margin-bottom: 5px;">
				Op de geplaatste veiling items kunt u een bod uitbrengen.<br />				
			</li>
			<li style="margin-bottom: 5px;">
				De aanbieder bepaalt wanneer een veiling item gesloten wordt.
			</li>
			<li style="margin-bottom: 5px;">
				Als u de hoogste bieder bent ontvangt u hierover een e-mail met daarin de contactgegevens van de aanbieder.<br />
			</li>
			<li style="margin-bottom: 5px;">
				Het geboden bedrag dient u te overhandigen aan de aanbieder. De aanbieder bepaalt dan zelf welk bedrag er gedoneerd wordt aan de diaconie.<br/>
				Rekeningnummer: <strong>@Auction.BLL.Config.AccountNumber</strong> o.v.v. het veiling nummer.
			</li>
		</ul>
		
		Een veiling site heeft uiteraard spullen nodig, een item toevoegen kunt u <strong><a href="~/Auction/Add">hier</a></strong> doen.<br />
		<br />
		Mocht u verder nog vragen hebben kunt u e-mail sturen naar <a href="mailto:veiling@hervormdrouveen.nl"><strong>veiling@hervormdrouveen.nl</strong></a>
</div>