<div>
		<h3>Veiling</h3>
		Een veiling blijft 14 dagen op de site vermeld. Na 14 dagen wordt het item toegekend aan de hoogste bieder. </br>
		Hiervan ontvangt u een e-mail.<br />
		<br />
		Een item toevoegen kunt u <a href="~/Auction/Add">hier</a> doen
		<h3>Betaling</h3>
		Indien uw bod het hoogste is geworden dient u het geld over te maken op rekeningnummer: 123456789
</div>