<div>
		<h3>Veiling</h3>
		Een veiling item blijft @Auction.BLL.Config.Auction.DaysValid dagen op de site vermeld. Na @Auction.BLL.Config.Auction.DaysValid dagen wordt het item toegekend aan de hoogste bieder. </br>
		Hiervan ontvangt u een e-mail.<br />
		<br />
		Een item toevoegen kunt u <a href="~/Auction/Add">hier</a> doen
		<h3>Betaling</h3>
		Indien uw bod het hoogste is geworden dient u het geld over te maken op rekeningnummer: @Auction.BLL.Config.AccountNumber.<br />
		Tevens ontvangt u dan tevens de contactgegevens waar u het veiling item kunt ophalen.
</div>