<div>
		<h3>Veiling</h3>
		Het doel van deze veiling site is om geld in te zamelen voor de diaconie.<br />
		Hierbij kunt u helpen door spullen aan te bieden op deze veilingsite, of te bieden op de aangeboden spullen.<br />
		<br />
		De werking is als volgt.<br />

		<ul>
			<li style="margin-bottom: 5px;">
				Op de geplaatste veiling items kunt u een bod uitbrengen.<br />				
			</li>
			<li style="margin-bottom: 5px;">
				Na @Auction.BLL.Config.Auction.DaysValid dagen wordt het veiling item gesloten en wordt deze toegewezen aan de hoogste bieder.
			</li>
			<li style="margin-bottom: 5px;">
				Als u de hoogste bieder bent ontvangt u hierover een e-mail met daarin de contactgegevens van de aanbieder en het verzoek om het geboden bedrag over te maken naar de diaconie.<br />
				Rekeningnummer: <strong>@Auction.BLL.Config.AccountNumber</strong> o.v.v. het veiling nummer.
			</li>
			<li style="margin-bottom: 5px;">
				Indien u het geboden bedrag heeft over gemaakt kunt u de spullen ophalen bij de aanbieder van het veiling item.
			</li>
		</ul>
		
		Een veiling site heeft uiteraard spullen nodig, een item toevoegen kunt u <strong><a href="~/Auction/Add">hier</a></strong> doen.
</div>